# https://pandas.pydata.org/pandas-docs/stable/10min.html

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
matplotlib.style.use('ggplot')

ImportError: No module named pandas

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8])

In [2]:
s

NameError: name 's' is not defined

In [4]:
dates = pd.date_range('20130101',periods=6)

In [5]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [7]:
df

                   A         B         C         D
2013-01-01 -1.758482  0.956562 -0.035449 -0.359268
2013-01-02 -0.041653 -0.358252  0.297617 -0.594584
2013-01-03  0.084049 -0.108218  1.262813  0.942892
2013-01-04 -1.031309 -0.022808 -0.488407  0.273960
2013-01-05  0.116444 -0.983261 -0.872851 -1.664283
2013-01-06  0.939860 -0.726789  0.370755  0.387655

In [8]:
df2 = pd.DataFrame({ 'A' : 1.,
   ...:              'B' : pd.Timestamp('20130102'),
   ...:              'C' : pd.Series(1,index=range(4),dtype='float32'),
   ...:              'D' : np.array([3] * 4,dtype='int32'),
   ...:              'E' : 'foo' })
   ...:

In [9]:
df2

     A          B    C  D    E
0  1.0 2013-01-02  1.0  3  foo
1  1.0 2013-01-02  1.0  3  foo
2  1.0 2013-01-02  1.0  3  foo
3  1.0 2013-01-02  1.0  3  foo

In [10]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E            object
dtype: object

In [11]:
df.head()

                   A         B         C         D
2013-01-01 -1.758482  0.956562 -0.035449 -0.359268
2013-01-02 -0.041653 -0.358252  0.297617 -0.594584
2013-01-03  0.084049 -0.108218  1.262813  0.942892
2013-01-04 -1.031309 -0.022808 -0.488407  0.273960
2013-01-05  0.116444 -0.983261 -0.872851 -1.664283

In [12]:
df.tail(3)

                   A         B         C         D
2013-01-04 -1.031309 -0.022808 -0.488407  0.273960
2013-01-05  0.116444 -0.983261 -0.872851 -1.664283
2013-01-06  0.939860 -0.726789  0.370755  0.387655

In [13]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.281849 -0.207128  0.089080 -0.168938
std    0.957593  0.677229  0.744955  0.916032
min   -1.758482 -0.983261 -0.872851 -1.664283
25%   -0.783895 -0.634654 -0.375168 -0.535755
50%    0.021198 -0.233235  0.131084 -0.042654
75%    0.108345 -0.044160  0.352470  0.359231
max    0.939860  0.956562  1.262813  0.942892

In [14]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -1.758482   -0.041653    0.084049   -1.031309    0.116444    0.939860
B    0.956562   -0.358252   -0.108218   -0.022808   -0.983261   -0.726789
C   -0.035449    0.297617    1.262813   -0.488407   -0.872851    0.370755
D   -0.359268   -0.594584    0.942892    0.273960   -1.664283    0.387655

In [15]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.359268 -0.035449  0.956562 -1.758482
2013-01-02 -0.594584  0.297617 -0.358252 -0.041653
2013-01-03  0.942892  1.262813 -0.108218  0.084049
2013-01-04  0.273960 -0.488407 -0.022808 -1.031309
2013-01-05 -1.664283 -0.872851 -0.983261  0.116444
2013-01-06  0.387655  0.370755 -0.726789  0.939860

In [16]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-05  0.116444 -0.983261 -0.872851 -1.664283
2013-01-06  0.939860 -0.726789  0.370755  0.387655
2013-01-02 -0.041653 -0.358252  0.297617 -0.594584
2013-01-03  0.084049 -0.108218  1.262813  0.942892
2013-01-04 -1.031309 -0.022808 -0.488407  0.273960
2013-01-01 -1.758482  0.956562 -0.035449 -0.359268

In [17]:
df['A']

2013-01-01   -1.758482
2013-01-02   -0.041653
2013-01-03    0.084049
2013-01-04   -1.031309
2013-01-05    0.116444
2013-01-06    0.939860
Freq: D, Name: A, dtype: float64

In [18]:
df[0:3]

                   A         B         C         D
2013-01-01 -1.758482  0.956562 -0.035449 -0.359268
2013-01-02 -0.041653 -0.358252  0.297617 -0.594584
2013-01-03  0.084049 -0.108218  1.262813  0.942892

In [19]:
df[pd.Timestamp('20130102'):pd.Timestamp('20130104')]

                   A         B         C         D
2013-01-02 -0.041653 -0.358252  0.297617 -0.594584
2013-01-03  0.084049 -0.108218  1.262813  0.942892
2013-01-04 -1.031309 -0.022808 -0.488407  0.273960

In [20]:
df.loc[dates[0]]

A   -1.758482
B    0.956562
C   -0.035449
D   -0.359268
Name: 2013-01-01 00:00:00, dtype: float64

In [21]:
df.loc[:,['A','B']]

                   A         B
2013-01-01 -1.758482  0.956562
2013-01-02 -0.041653 -0.358252
2013-01-03  0.084049 -0.108218
2013-01-04 -1.031309 -0.022808
2013-01-05  0.116444 -0.983261
2013-01-06  0.939860 -0.726789

In [22]:
df.loc[pd.Timestamp('20130102'):pd.Timestamp('20130104'),['A','B']]

                   A         B
2013-01-02 -0.041653 -0.358252
2013-01-03  0.084049 -0.108218
2013-01-04 -1.031309 -0.022808

In [23]:
df.loc['20130102',['A','B']]

A   -0.041653
B   -0.358252
Name: 2013-01-02 00:00:00, dtype: float64

In [24]:
df.loc[dates[0],'A']

-1.75848203220153

In [25]:
df.at[dates[0],'A']

-1.75848203220153

In [26]:
df.iloc[3]

A   -1.031309
B   -0.022808
C   -0.488407
D    0.273960
Name: 2013-01-04 00:00:00, dtype: float64

In [27]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04 -1.031309 -0.022808
2013-01-05  0.116444 -0.983261

In [28]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02 -0.041653  0.297617
2013-01-03  0.084049  1.262813
2013-01-05  0.116444 -0.872851

In [29]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02 -0.041653 -0.358252  0.297617 -0.594584
2013-01-03  0.084049 -0.108218  1.262813  0.942892

In [30]:
df.iloc[:,1:3]

                   B         C
2013-01-01  0.956562 -0.035449
2013-01-02 -0.358252  0.297617
2013-01-03 -0.108218  1.262813
2013-01-04 -0.022808 -0.488407
2013-01-05 -0.983261 -0.872851
2013-01-06 -0.726789  0.370755

In [31]:
df.iloc[1,1]

-0.3582520889197468

In [32]:
df.iat[1,1]

-0.3582520889197468

In [33]:
x = list('abcdef')

In [34]:
x[4:10]

['e', 'f']

In [35]:
x[8:10]

[]

In [36]:
df.iloc[:,8:10]

Empty DataFrame
Columns: []
Index: [2013-01-01 00:00:00, 2013-01-02 00:00:00, 2013-01-03 00:00:00, 2013-01-04 00:00:00, 2013-01-05 00:00:00, 2013-01-06 00:00:00]

In [37]:
df[df.A > 0]

                   A         B         C         D
2013-01-03  0.084049 -0.108218  1.262813  0.942892
2013-01-05  0.116444 -0.983261 -0.872851 -1.664283
2013-01-06  0.939860 -0.726789  0.370755  0.387655

In [38]:
df[df > 0]

                   A         B         C         D
2013-01-01       NaN  0.956562       NaN       NaN
2013-01-02       NaN       NaN  0.297617       NaN
2013-01-03  0.084049       NaN  1.262813  0.942892
2013-01-04       NaN       NaN       NaN  0.273960
2013-01-05  0.116444       NaN       NaN       NaN
2013-01-06  0.939860       NaN  0.370755  0.387655

In [39]:
s1 = pd.Series([1,2,3,4,5,6],index=pd.date_range('20130102',periods=6))

In [40]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [41]:
df['F'] = s1

In [42]:
df.at[dates[0],'A'] = 0

In [43]:
df.iat[0,1] = 0

In [44]:
df.loc[:,'D'] = np.array([5] * len(df))

In [45]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.035449  5  NaN
2013-01-02 -0.041653 -0.358252  0.297617  5  1.0
2013-01-03  0.084049 -0.108218  1.262813  5  2.0
2013-01-04 -1.031309 -0.022808 -0.488407  5  3.0
2013-01-05  0.116444 -0.983261 -0.872851  5  4.0
2013-01-06  0.939860 -0.726789  0.370755  5  5.0

In [46]:
df2 = df.copy()

In [47]:
df2[df2 > 0] = -df2

In [48]:
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.035449 -5  NaN
2013-01-02 -0.041653 -0.358252 -0.297617 -5 -1.0
2013-01-03 -0.084049 -0.108218 -1.262813 -5 -2.0
2013-01-04 -1.031309 -0.022808 -0.488407 -5 -3.0
2013-01-05 -0.116444 -0.983261 -0.872851 -5 -4.0
2013-01-06 -0.939860 -0.726789 -0.370755 -5 -5.0

In [49]:
df1 = df.reindex(index=dates[0:4],columns=list(df.columns) + ['E'])

In [50]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [51]:
df1

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000 -0.035449  5  NaN  1.0
2013-01-02 -0.041653 -0.358252  0.297617  5  1.0  1.0
2013-01-03  0.084049 -0.108218  1.262813  5  2.0  NaN
2013-01-04 -1.031309 -0.022808 -0.488407  5  3.0  NaN

In [52]:
df1.dropna(how='any')

                   A         B         C  D    F    E
2013-01-02 -0.041653 -0.358252  0.297617  5  1.0  1.0

In [53]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000 -0.035449  5  5.0  1.0
2013-01-02 -0.041653 -0.358252  0.297617  5  1.0  1.0
2013-01-03  0.084049 -0.108218  1.262813  5  2.0  5.0
2013-01-04 -1.031309 -0.022808 -0.488407  5  3.0  5.0

In [54]:
pd.isnull(df1)

                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

In [55]:
df.mean()

A    0.011232
B   -0.366555
C    0.089080
D    5.000000
F    3.000000
dtype: float64

In [56]:
df.mean(1)

2013-01-01    1.241138
2013-01-02    1.179542
2013-01-03    1.647729
2013-01-04    1.291495
2013-01-05    1.452066
2013-01-06    2.116765
Freq: D, dtype: float64

In [57]:
s = pd.Series([1,3,5,np.nan,6,8],index=dates).shift(2)

In [58]:
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [59]:
df.sub(s,axis='index')

                   A         B         C    D    F
2013-01-01       NaN       NaN       NaN  NaN  NaN
2013-01-02       NaN       NaN       NaN  NaN  NaN
2013-01-03 -0.915951 -1.108218  0.262813  4.0  1.0
2013-01-04 -4.031309 -3.022808 -3.488407  2.0  0.0
2013-01-05 -4.883556 -5.983261 -5.872851  0.0 -1.0
2013-01-06       NaN       NaN       NaN  NaN  NaN

In [60]:
df.apply(np.cumsum)

                   A         B         C   D     F
2013-01-01  0.000000  0.000000 -0.035449   5   NaN
2013-01-02 -0.041653 -0.358252  0.262168  10   1.0
2013-01-03  0.042396 -0.466470  1.524981  15   3.0
2013-01-04 -0.988914 -0.489278  1.036574  20   6.0
2013-01-05 -0.872470 -1.472539  0.163722  25  10.0
2013-01-06  0.067390 -2.199327  0.534477  30  15.0

In [61]:
df.apply(lambda x: x.max() - x.min())

A    1.971169
B    0.983261
C    2.135665
D    0.000000
F    4.000000
dtype: float64

In [62]:
s = pd.Series(np.random.randint(0,7,size=10))

In [63]:
s

0    1
1    2
2    6
3    0
4    1
5    1
6    3
7    1
8    2
9    6
dtype: int64

In [64]:
s.value_counts()

1    4
6    2
2    2
3    1
0    1
dtype: int64

In [65]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [66]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [67]:
df = pd.DataFrame(np.random.randn(10, 4))

In [68]:
df

          0         1         2         3
0  1.012552 -0.256960  1.029244 -0.450520
1  0.628969 -0.398157  0.839569 -0.047430
2 -0.325655  1.932359 -0.102925  0.081256
3 -0.267207  1.189725  1.445384  0.662154
4 -2.177445 -0.903756 -1.045236 -0.502388
5 -1.200457 -0.124466  1.699145 -1.263483
6  0.490861 -0.117241 -1.536860 -0.427205
7 -1.317156  2.131521 -0.437658 -1.264106
8 -0.873725 -0.084917  0.442262 -0.963198
9  0.710963  0.111496 -0.052777 -1.221927

In [69]:
pieces = [df[:3], df[3:7], df[7:]]

In [70]:
pd.concat(pieces)

          0         1         2         3
0  1.012552 -0.256960  1.029244 -0.450520
1  0.628969 -0.398157  0.839569 -0.047430
2 -0.325655  1.932359 -0.102925  0.081256
3 -0.267207  1.189725  1.445384  0.662154
4 -2.177445 -0.903756 -1.045236 -0.502388
5 -1.200457 -0.124466  1.699145 -1.263483
6  0.490861 -0.117241 -1.536860 -0.427205
7 -1.317156  2.131521 -0.437658 -1.264106
8 -0.873725 -0.084917  0.442262 -0.963198
9  0.710963  0.111496 -0.052777 -1.221927

In [71]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

In [72]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [73]:
left

   key  lval
0  foo     1
1  foo     2

In [74]:
right

   key  rval
0  foo     4
1  foo     5

In [75]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [76]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
   ....:                           'foo', 'bar', 'foo', 'foo'],
   ....:                    'B' : ['one', 'one', 'two', 'three',
   ....:                           'two', 'two', 'one', 'three'],
   ....:                    'C' : np.random.randn(8),
   ....:                    'D' : np.random.randn(8)})
df

     A      B         C         D
0  foo    one  0.648655 -0.616690
1  bar    one  2.235396 -0.497729
2  foo    two -0.391262 -0.127263
3  bar  three  1.793133  0.340301
4  foo    two -1.059781 -2.019291
5  bar    two  2.274943 -0.430157
6  foo    one  0.688818 -0.740030
7  foo  three -0.508485 -1.156688

In [77]:
df.groupby('A').sum()

            C         D
A
bar  6.303472 -0.587586
foo -0.622055 -4.659962

In [78]:
 df.groupby(['A','B']).sum()

                  C         D
A   B
bar one    2.235396 -0.497729
    three  1.793133  0.340301
    two    2.274943 -0.430157
foo one    1.337473 -1.356720
    three -0.508485 -1.156688
    two   -1.451044 -2.146554